.currency-comparator {
  padding: 3.2rem 2.4rem;
}
.comparator-heading {
  font-size: 3rem;
  margin-top: 3.2rem;
  font-weight: 700;
}
.comparator-inputs {
  display: inline-block;
  margin: 0 1.2rem;
}
.comparator-select, .comparator-value {
  font-size: 3.2rem;
  border: none;
  color: var(--site-accent);
  border-bottom: 1px solid var(--site-accent);
}
.comparator-value {
  width: 16rem;
}
.comparator-value:focus,
.comparator-select:focus {
  outline-color: var(--site-accent);
}
.inline-btn {
  padding: 0.4rem 0.8rem;
  margin-left: 1.2rem;
  font-size: 2.4rem;
}
.tooltip {
  margin-top: 1.2rem;
  font-size: 1.6rem;
}
.tooltip a {
  text-decoration: none;
  color: var(--site-accent);
  font-weight: 600;
}
.tooltip a:hover {
  text-decoration: underline;
}
/* Media Queries */
@media (max-width: 600px) {
  .comparator-inputs {
    display: block;
    margin: 1.2rem 0;
  }
  .comparator-value {
    width: 60vw;
  }
  .comparator-heading {
    margin-top: 1.6rem;
  }
}