.currency-comparator {
  padding: 3.2rem 2.4rem;
}
.comparator-heading {
  font-size: 3rem;
  margin-top: 3.2rem;
  font-weight: 700;
}
.comparator-inputs {
  display: inline-block;
  margin: 0 1.2rem;
}
.comparator-select, .comparator-value {
  font-size: 3.2rem;
  border: none;
  color: var(--site-accent);
  border-bottom: 1px solid var(--site-accent);
}
.comparator-value {
  width: 12rem;
}
.tooltip {
  margin-top: 1.2rem;
  font-size: 1.6rem;
}
/* Media Queries */
@media (max-width: 600px) {
  .comparator-inputs {
    display: block;
    margin: 1.2rem 0;
  }
}