.currency-label {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.4rem 5%;
  cursor: pointer;
  /* transition: all 0.2s; */
}
.currency-label svg {
  width: 18px;
  height: 18px;
  stroke: #000;
  fill: #000;
  visibility: hidden;
  /* transition: all 0.2s; */
}
.currency-label:hover {
  background: #fff;
  color: #000;
}
.currency-label:hover svg {
  visibility: visible;
}
.currency-label.valid {
  background: var(--valid-highlight);
  color: #fff;
}
.currency-label.invalid {
  background: var(--invalid-highlight);
  color: #fff;
}
.currency-label.valid svg,
.currency-label.invalid svg {
  stroke: #fff;
  fill: #fff;
}