.currency-list {
  padding: 0 2.4rem;
}
.currency-card-list {
  margin-top: 3.2rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, 200px);
  grid-gap: 2.4rem;
}
.clear-btn {
  margin-top: 2.4rem;
  font-size: 1.4rem;
  font-weight: 600;
  background: transparent;
  border: 1px solid var(--site-accent);
  color: var(--site-accent);
  padding: 0.8rem 1.2rem;
  cursor: pointer;
}
.clear-btn:hover {
  background: var(--site-accent);
  color: #fff;
}
/* Media Queries */
@media (max-width: 700px) {
  .currency-card-list {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }
}