.sidebar {
  background: var(--site-accent);
  width: 22rem;
  height: 100vh;
  color: #fff;
}
.sidebar-content {
  position: fixed;
  width: inherit;
}
.sidebar-spacer {
  width: 90%;
  height: 0.2rem;
  margin: 2.4rem auto;
  background: #fff;
}
.site-brand {
  text-align: center;
}
.currency-labels {
  height: 80vh;
  /* background-color: #4c6ef5; */
  font-size: 1.2rem;
  overflow-y: scroll;
}
.currency-labels ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
}