.sidebar {
  background: var(--site-accent);
  width: 15vw;
  height: 100vh;
  color: #fff;
  position: fixed;
  transition: all 0.2s;
}
.sidebar-content {
  /* position: fixed; */
  width: inherit;
}
.site-brand {
  text-align: center;
}
.sidebar-spacer {
  height: 0.2rem;
  margin-top: 2.4rem;
  background: #fff;
}
.site-brand svg {
  width: 4.4rem;
  height: 4.4rem;
  margin-top: 2.4rem;
}
.currency-labels {
  background: var(--light-site-accent);
  height: 70vh;
  font-size: 1.2rem;
  overflow-y: scroll;
}
.currency-labels ul {
  list-style: none;
  margin-bottom: 0.4rem;
}
.sidebar-toggle {
  display: none;
}
/* Media Queries */
@media (max-width: 1280px) {
  .sidebar {
    width: 20vw;
  }
}
@media (max-width: 800px) {
  .sidebar {
    width: 30vw;
  }
}
@media (max-width: 600px) {
  .sidebar {
    position: fixed;
    width: 100vw;
    height: 40vh;
    z-index: 4;
    bottom: 0;
    left: 0;
    transform: translateY(100%);
  }
  .currency-labels {
    height: 25vh;
    font-size: 2rem;
  }
  .sidebar.open {
    transform: translateY(0);
  }
  .site-brand svg {
    display: none;
  }
  .site-brand .component-heading {
    font-size: 2rem;
    margin-top: 2.4rem;
  }
  /* Sidebar Toggle Button */
  .sidebar-toggle {
    display: block;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -98%);
    background: var(--site-accent);
    padding: 0.4rem 0.8rem 0 0.8rem;
    border-radius: 50% 50% 0 0;
    cursor: pointer;
    z-index: 4;
  }
  .sidebar-toggle svg {
    width: 2.4rem;
    height: 2.4rem;
    stroke: #fff;
    animation-duration: 2s;
    animation-name: pulse;
    animation-iteration-count: infinite;
  }
}
/* Animations */
@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(1);
  }
}