body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.component-heading {
  font-size: 1.6rem;
  margin-top: 1.2rem;
  font-weight: 700;
}
/* Scrollbar */
::-webkit-scrollbar {
  width: 0.6rem;
}
::-webkit-scrollbar-track {
  background: var(--site-accent);
}
::-webkit-scrollbar-thumb {
  background: #ced4da;
}
::-webkit-scrollbar-thumb:hover {
  background: #e9ecef;
}