body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.component-heading {
  font-size: 1.6rem;
  margin-top: 1.2rem;
  font-weight: 700;
}
.btn {
  font-size: 1.4rem;
  font-weight: 600;
  background: transparent;
  border: 1px solid var(--site-accent);
  color: var(--site-accent);
  padding: 0.8rem 1.2rem;
  cursor: pointer;
}
.btn:hover {
  background: var(--site-accent);
  color: #fff;
}
/* Loading Spinner */
.lds-ring-container {
  display: flex;
  justify-content: center;
}
.lds-ring {
  display: inline-block;
  position: relative;
  width: 40px;
  height: 40px;
}
.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 32px;
  height: 32px;
  margin: 4px;
  border: 4px solid #fff;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #fff transparent transparent transparent;
}
.lds-ring.lds-ring-small {
  width: 20px;
  height: 20px;
}
.lds-ring.lds-ring-small div {
  width: 16px;
  height: 16px;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
}
.lds-ring.lds-ring-dark div {
  border: 4px solid var(--site-accent);
  border-color: var(--site-accent) transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
/* Scrollbar */
::-webkit-scrollbar {
  width: 0.6rem;
}
::-webkit-scrollbar-track {
  background: var(--site-accent);
}
::-webkit-scrollbar-thumb {
  background: #ced4da;
}
::-webkit-scrollbar-thumb:hover {
  background: #e9ecef;
}